#root {
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
}

.App {
  display: flex;
  color: #fff;
}

.Main-Container {
  margin: auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.errorContainer {
  padding: 32px;
}

.MainCard {
  background-color: #1f2a48;
  display: grid;
  padding: 32px;
  height: 100%;
  grid-template-columns: 60px 64px repeat(4, 1fr);
  grid-template-rows: 60px 32px 32px 35px 16px 16px;
  gap: 16px;
  
}


.Search {
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;

}

.theme-toggle {
  background-color: transparent;
  text-transform: capitalize;
  border: none;
}

.Search > input {
  flex: 1;
  background-color: transparent;
  color: #fff;
  border: none;
}

.Search, .MainCard {
  border-radius: 8px;
}

.Search > button {
  background-color: #007aff;
  color: #acf2ff;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 8px;
}

.Header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}

.Avatar {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  display: flex;
}

.Avatar > img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
}

.Bio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 3 / 7;
  grid-row: 1 / 3;
  text-align: left;
}

.Bio > .name {
  display: flex;
  justify-content: space-between;
}

.Bio > .name > .date {
  font-size: 12px;
}

.Bio > a {
  color: #3466d6;
  margin-bottom: 8px;
}


.Stats {
  display: flex;
  grid-column:  3/7;
  grid-row: 3/5;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
  font-size: 12px;
}

.Stats > p {
  flex-basis: 33%;
}

.Stats > p > span {
  display: block;
}

.SocialInfo {
  display: flex;
  grid-column: 3/7;
  grid-row: 5/7;
  flex-wrap: wrap;
  text-align: left;
  font-size: 12px;
}

.SocialInfo > div {
  flex: 1;
  flex-basis: 50%;

}

.SocialInfo > div.na {
  color: #515f7c;
}

h2 {
  margin: 0;
}

.SocialInfo > div > svg {
  fill: #4e6796;
  stroke: #4e6796;
  margin-right: 8px;
}
